[Unit]
Description=MailHog service
After=network.target

[Service]
# Χρησιμοποιούμε το user που ορίσαμε (kleonkola)
User={{ user }}
# Αν δεν έχεις ορίσει group, βάζουμε πάλι το user (συνήθως είναι το ίδιο)
Group={{ user }}
# Ο φάκελος που φτιάξαμε στο /opt
WorkingDirectory={{ mailhog_path }}
# Η διαδρομή του εκτελέσιμου που κατεβάσαμε
ExecStart={{ mailhog_path }}/MailHog
Restart=always

[Install]
WantedBy=multi-user.target