[Unit]
Description=MailHog Service
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ user }}
ExecStart={{ mailhog_path }}/MailHog
Restart=on-failure

[Install]
WantedBy=multi-user.target