server {
    listen 80;
    server_name klewn-devops.duckdns.org;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name klewn-devops.duckdns.org;

    ssl_certificate /etc/letsencrypt/live/klewn-devops.duckdns.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/klewn-devops.duckdns.org/privkey.pem;

    # Ρυθμίσεις ασφαλείας SSL
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://localhost:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /db/ {
        alias /var/www/adminer/;
        index index.php;

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_pass unix:/var/run/php/php-fpm.sock; 
            fastcgi_param SCRIPT_FILENAME $request_filename;
            include fastcgi_params;
        }
    }

    location /mail/ {
        proxy_pass http://127.0.0.1:8025/;
    }

    
}